<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saintsung.saintsungpmc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".loading.LoginActivity" android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6771be5712fff8dca0c7ae1e2b2a4565"/>
    </application>
    //地图包、搜索包需要的基础权限
    <!-- 允许一个程序访问精良位置(如GPS)     -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--         允许程序改变Wi-Fi连接状态              -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--      允许一个程序修改当前设置，如本地化                 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!--       允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失                -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--       允许程序读取或写入系统设置               -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>