<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.saintsung.saintsungpmc">
    //地图包、搜索包需要的基础权限
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许一个程序修改当前设置，如本地化 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许程序读取或写入系统设置 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取手机状态信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--<activity android:name=".loading.WelcomeActivity">-->

             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->
             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".loading.WelcomeGuideActivity" />
        <!-- 未授权设备页面 -->
        <activity android:name=".activity.UnauthorizedActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6771be5712fff8dca0c7ae1e2b2a4565" />
        <!-- 账号与安全页面 -->
        <activity android:name=".activity.AccountSecurityActivity" />
        <activity
            android:name=".activity.WorkOrderApplyActivity"
            android:label="@string/title_activity_work_order_apply"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.EquipmentUpdateActivity"
            android:label="@string/title_activity_equipment_update"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.ApplyManageActivity"
            android:label="@string/title_activity_apply_manage"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.ElectricDetailsActivity" />
        <activity android:name=".activity.FactoryCommissionActivity" />
        <activity android:name=".activity.PersonalMapActivity" />
        <activity android:name=".activity.ScrapApplyActivity" />
        <activity android:name=".activity.ApplyRecoveryActivity" />
        <activity android:name=".activity.ReplaceApplyActivity" />
        <activity android:name=".activity.LoginActivity">
        </activity>
    </application>

</manifest>